
md-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}
md-sidenav-layout {
  background: rgba(0, 0, 0, .03);
}
.sidenav {
  width: 300px;
}
.fill-remaining-space {
  flex: 1 1 auto;
}

/* works with fnls-displacer but caused other issues*/
.REMOVE.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* Does not work */
  /*z-index: 5;*/
}


md-nav {
  /* Does not work */
  /*Not sure what exactly is the index set for fnls-displacer*/
  /*z-index: 99000000;*/
}

/*
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}*/
