<md-card class="flex-item route-card">
    <!-- <md-card-header>
      <md-card-title>
        <b>Grade:</b> 5.{{route.grade}} <b>Station:</b> {{route.station}}
      </md-card-title>
      <md-card-subtitle>
      </md-card-subtitle>
    </md-card-header>
     -->
     <md-card-header [routerLink]="['/route/', route.$key]">
       <div md-card-avatar [ngStyle]="{'background-color': route.color, 'fill': route.color, 'color': route.color}">
       </div>
       <md-card-title><b>Grade:</b> 5.{{route.grade}} <b>Station:</b> {{route.station}} </md-card-title>
       <md-card-subtitle><b>Setter:</b> {{route.setter | uppercase}} <b>Set date:</b> {{route.setDate | date:'shortDate'}}</md-card-subtitle>
     </md-card-header>
     <md-card-content>

       <!-- <div *ngIf="route.hasCompleted">
         You have completed this route!
       </div> -->

       <div *ngIf="hasCompleted">
         You have completed this route!
       </div>

       <!-- <md-chip-list>
         <md-chip>slab</md-chip><md-chip>dyno</md-chip>
       </md-chip-list> -->

     </md-card-content>
     <md-card-actions>
       <button md-button>ATTEMPT++</button>
       <button (click)="selectRoute(route)" md-button>CLIMB++</button>
     </md-card-actions>

     <!-- <md-list-item>
       <md-icon md-list-icon [ngStyle]="{'background-color': route.color, 'fill': route.color, 'color': route.color}">brightness_1</md-icon>
       <div md-line><b>Grade:</b> 5.{{route.grade}} <b>Station:</b> {{route.station}} </div>
       <div md-line><b>Setter:</b> {{route.setter | uppercase}} <b>Set date:</b> {{route.setDate | date:'shortDate'}}</div>

       <div *ngIf="route.hasCompleted; else elseBlock">
         <md-checkbox [checked]="true" [disabled]="true"></md-checkbox>
       </div>

       <ng-template #elseBlock>
         <md-checkbox (click)="selectRoute(route)"></md-checkbox>
       </ng-template>
     </md-list-item> -->
</md-card>
