<div *ngIf="userService.user | async; else elseBlock">
<md-select required placeholder="Grade" [(ngModel)]="grade" name="grade">
  <md-option *ngFor="let grade of grades" [value]="grade.value">
    {{grade.viewValue}}
  </md-option>
</md-select>
<md-select required placeholder="Color" [(ngModel)]="color" name="color">
  <md-option [ngStyle]="{'background-color': color.value}" *ngFor="let color of colors" [value]="color.value">
    {{color.viewValue}}
  </md-option>
</md-select>

<md-input-container><input required mdInput #station type='number' placeholder="Station"></md-input-container>

<div>
<md-select required placeholder="Setter" [(ngModel)]="setter" name="setter">
  <md-option *ngFor="let setter of setters" [value]="setter">
    {{setter | uppercase}}
  </md-option>
</md-select>

<md-input-container>
  <input required mdInput #setDateValue [mdDatepicker]="setDate" placeholder="Set date">
  <button mdSuffix [mdDatepickerToggle]="setDate"></button>
</md-input-container>
<md-datepicker #setDate></md-datepicker>
</div>

<div>
  <div>Type:</div>
<md-radio-group required [(ngModel)]="type">
  <md-radio-button *ngFor="let type of types" [value]="type.value">
    {{type.viewValue}}
  </md-radio-button>
</md-radio-group>
</div>

<button color="primary" (click)="addRoute(station.value, grade, color, setter, setDateValue.value, type)" md-raised-button>Add New Route</button>
<button color="accent" (click)="logout()" md-raised-button>Logout</button>

</div>
<ng-template #elseBlock>
  <button color="primary" (click)="loginGoogle()" md-raised-button>Login via Google</button>
</ng-template>
<app-route-list> </app-route-list>
