<md-list-item>
    <!-- <div [ngStyle]="{'background-color': climb.color}" class="circle" ></div> -->
    <!-- <button [ngStyle]="{'color': climb.color}" md-mini-fab><md-icon>brightness</md-icon></button> -->
    <md-icon md-list-icon [ngStyle]="{'background-color': climb.color, 'fill': climb.color, 'color': climb.color}">brightness_1</md-icon>

    <div md-line><b>Level:</b> 5.{{climb.level}}  <b>Station:</b> {{climb.station}} </div>
    <div md-line><b>Setter:</b> {{climb.setter}}  <b>Set date:</b> {{climb.setDate}}</div>
    <div md-line><b>hasCompleted:</b> {{climb.hasCompleted}}</div>

    <!-- <p [ngStyle]="{'color': climb.color}">Color {{climb.color}} </p> -->
    <!-- <p> {{climb.note}} </p> -->
    <!-- <p>Set Date: {{climb.setDate | date }} </p> -->
    <!-- <p>Setter: {{climb.setter }} </p> -->

    <!-- <md-icon md-font-library="material-icons" [ngStyle]="{'color': 'red'}">favorite</md-icon> -->
    <!-- <md-icon md-font-library="material-icons" >done</md-icon> -->
    <!-- <md-icon>favorite_border</md-icon> -->


    <div *ngIf="climb.hasCompleted; else elseBlock">
      <button><md-icon>check_box</md-icon></button>
    </div>

    <ng-template #elseBlock>
      <button (click)="selectClimb(climb)"><md-icon>check_box_outline_blank</md-icon></button>
    </ng-template>





    <!-- <md-icon>check_box</md-icon>

    <!-- <md-icon>check_box</md-icon>
    <md-icon>star</md-icon>
    <md-icon>star_border</md-icon> -->

</md-list-item>

<!--

<md-list-item [ngStyle]="{'background-color': climb.color}">
<md-icon md-list-icon>whatshot</md-icon>

<p md-line>Station: {{climb.station}}</p>
<p md-line>Level {{climb.level}} </p>
<p md-line [ngStyle]="{'color': climb.color}">Color {{climb.color}} </p>
<p md-line> {{climb.note}} </p>
<p md-line>Set Date: {{climb.setDate | date }} </p>
<p md-line>Setter: {{climb.setter }} </p>

<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Station: {{climb.station}} Color: {{climb.color}} </md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/examples/shiba2.jpg">
  <md-card-content>
    <p>
        content
    </p>
  </md-card-content>
  <md-card-actions>
    <md-icon md-font-library="material-icons">favorite</md-icon>
    <md-icon md-font-library="material-icons">done</md-icon>

  </md-card-actions>
</md-card> -->
