<!-- <md-card> -->
<!-- removed the outer md-card because  i dont want all these padding associated with it -->

<button md-fab
  class="custom-md-fab-bottom-right"
  [routerLink]="['/route/add']">
  <md-icon>add</md-icon>
</button>


<md-card-title>Routes</md-card-title>
<!-- <h3 md-subheader>All Available Routes</h3> -->


  <md-card-content class="flex-container"
          fxLayoutWrap="wrap"
          fxLayout="row"
          fxLayoutAlign="center" fxLayoutAlign.xs="start">

    <div *ngIf="routes; let routes; else loading">
    <app-route
      [route]="route"
      *ngFor="let route of routes"
      [hasCompleted]="hasCompleted(route.$key)"
      (selectedRoute)="markRouteAsCompleted($event)"
    ></app-route>
  </div>

  <ng-template #loading>Loading Route Data...
    <md-progress-spinner
        mode="indeterminate">
    </md-progress-spinner>
  </ng-template>

</md-card-content>
<!-- </md-card> -->
